.column-1{
  background-color:gray;
  float:left;
  width:43%;
  padding-left:5%;
  }
.column-2{
  background-color:green;
  float:right;
  width:43%;
  padding-right:5%;
  }
header{

}
footer{
  background-color:pink;
  clear: both;
}
h1{
  background-color:#b9daAB;
  height:100px;
  margin:0;
}
header>p{
  background-color:red;
  margin-top:0;

}