<html>
<head>
  <title></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>The new test page</h1>
  <form action="/campuses" method="POST">
    <input type="text" name="city_name" placeholder="City_Name">
    <button type="submit">Post</button>
  </form>
</body>
</html>